@import "../../styles/color.scss";

.container-patients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  .container-section-search-new {
    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .input-search-document-container {
      display: flex;
      position: relative;
      width: 200px;

      .input-search-document {
        border: 1px solid $black-color;
        border-radius: 50px;
        padding-left: 35px;
        font-size: 14px;

        &:focus {
          border: 1px solid $black-color;
          box-shadow: none;
        }
      }

      .icon-search-document {
        z-index: 10;
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .button-new-patiente-container {
      .button-new-patient {
        font-size: 14px;
        background-color: $gray-color;
        color: $black-color;
        &:focus {
          border: 1px solid $black-color;
          box-shadow: none;
        }
        &:hover {
          background-color: #d2d2d2;
        }
      }
    }
  }

  .container-section-table-patients {
    width: 100%;
  }
}
