@import "../../styles/color.scss";

.container-nav {
  color: $black-color !important;
  font-size: 14px;

  a {
    color: $black-color;
    padding: 25px 10px;
    border-bottom: 1px solid $black-color;
    &:focus {
      background-color: $gray-color;
    }
    &:active {
      background-color: $gray-color;
    }
  }
}
